name: Deploy Docker App to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Azure Web App (Publish Profile)
        uses: azure/webapps-deploy@v2
        with:
          app-name: "sentimentdockerapp"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: "sentimentregistrysaiku.azurecr.io/sentiment_app:v3"
